body {
    background-image: url('https://i.imgur.com/DkxArzl.png');
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#Page {
    border: none;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    height: 20%;
}



#Button1 {
    background-color: #6ae134;
    border: none;
    font-family: Calibri;
    font-weight: bold;
    font-size: 240%;
    color: #202020;
    margin-top: 5%;
    padding: 5px 15px;
    text-align: center;
    outline: none;
}

#Button1:hover {
    cursor: pointer;
    box-shadow: 0 0 10px #6ae134;
}


#title {
    padding-top: 1%;
    width: 80%;
}

Label1 {
    padding-top: 5%;
    margin-top: 5%;
}

@media only screen and (min-width: 1024px) {
    body {
        background-image: url('https://i.imgur.com/FKNQ2rM.png');
        background-size: 100%;
        background-repeat: no-repeat;
    }

    #Button1 {
        background-color: #6ae134;
        border: none;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        color: #202020;
        margin-top: 5%;
        padding: 5px 15px;
        text-align: center;
        outline: none;
    }
}